<div class="form-container">
    <div class="heading-container">
        <h1>Update profile:</h1>
        <button data-test-id="button-delete-account" mat-raised-button color="warn" (click)="deleteAccount()">Delete account</button>
    </div>

  @defer (when checkData) {
    <form class="form" [formGroup]="form" (submit)="submitForm($event)">
        <mat-form-field class="full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="checkErrors('firstName')">This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="checkErrors('lastName')">This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" readonly>
          <mat-error align="start" *ngIf="checkErrors('phone')">This field is required and must have 10 numbers!</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Avatar url</mat-label>
          <input matInput formControlName="image">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Site</mat-label>
          <input matInput formControlName="site">
        </mat-form-field>
        <h2>Add Additional Info:</h2>
        <div cdkDropList (cdkDropListDropped)="moveAdditional($event)" class="add-additional-form">
            <ng-container formArrayName="additionals">
                <ng-container *ngFor="let additional of additionals.controls; let i = index">
                    <div cdkDrag class="additional-form-row" [formGroupName]="i">
                        <div class="drag-handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                            </div>
                        <mat-form-field appearance="fill">
                            <input matInput
                                formControlName="title"
                                placeholder="Additional title">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput
                                formControlName="info"
                                placeholder="Additional info">
                        </mat-form-field>
                        <mat-icon data-test-id="delete-additional" class="delete-btn" (click)="deleteAdditional(i)">
                            delete_forever</mat-icon>
                    </div>
                </ng-container>
            </ng-container>
        
            <p>
                <button data-test-id="add-additional" mat-mini-fab (click)="addAdditional()">
                    <mat-icon class="add-course-btn">add</mat-icon>
                </button>
            </p>

        </div>
        <p data-test-id="form-error" *ngIf="formError">
            <mat-error>{{ formError }}</mat-error>
        </p>
        <div class="button-holder">
            <button data-test-id="button-update" mat-raised-button color="primary">Update</button>
            <button data-test-id="button-back" mat-raised-button (click)="locationBack($event)">Close</button>
        </div>
      </form>
  }
  @placeholder {
    <mat-spinner></mat-spinner>
  }
  @error {
    <span>{{ error }}</span>
  }
    
</div>