@defer (when checkData) {
    <section class="main" *ngIf="userData">
        <div class="container">
            <div class="heading-holder">
                <h1 class="mat-headline-4">{{ userData.firstName }}<br> {{ userData.lastName }}</h1>
            </div>
            <div class="two-columns">
                <div class="column">
                    <div class="image-holder"><img [src]="(userData.image && userData.image !== 'false') ? userData.image : 'assets/avatar-svgrepo-com.svg'" alt="avatar"></div>
                    <div class="contacts">
                        <h2 class="mat-headline-6">Contact Us:</h2>
                        <mat-list class="contacts">
                            <mat-list-item>
                                <div class="icon-holder">
                                    <mat-icon>{{ 'phone_circle' }}</mat-icon>
                                </div>
                                <a mat-button href="tel:{{ userData.phone }}">{{ userData.phone }}</a>
                            </mat-list-item>
                            <mat-list-item *ngIf="userData.email">
                                <div class="icon-holder">
                                    <mat-icon>{{ 'mail' }}</mat-icon>
                                </div>
                                <a mat-button href="mailto:{{ userData.email }}">{{ userData.email }}</a>
                            </mat-list-item>
                            <mat-list-item *ngIf="userData.address">
                                <div class="icon-holder">
                                    <mat-icon>{{ 'location_on' }}</mat-icon>
                                </div>
                                <address mat-button>{{ userData.address }}</address>
                            </mat-list-item>
                            <mat-list-item *ngIf="userData.site">
                                <div class="icon-holder">
                                    <mat-icon>{{ 'public' }}</mat-icon>
                                </div>
                                <a mat-button target="_blank" href="{{ userData.site }}">External link</a>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="column">
                    <div class="additional" *ngIf="userData.additionals?.length">
                        <div class="block" *ngFor="let additional of userData.additionals">
                            <h2>{{ additional.title }}</h2>
                            <div class="info" [innerHTML]="additional.info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  }
  @placeholder {
    <mat-spinner></mat-spinner>
  }
  @error {
    <span>{{ error }}</span>
  }